<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
  
    <header th:substituteby="layout/header :: header"></header>
  
    <header th:substituteby="layout/admin/header :: header"></header>
  
    <div id="content">
    
        <h1>User password reset</h1>

        <p>
          This is a weird implementation of a reset password
          mechanism. Email should be directly sent to user and not
          displayed here, but Cloud Foundry at the current moment
          does not allow sending email from its applications.
        </p>

        <ul>
          <li>Login: <span th:text="${user.login}">login</span></li>
          <li>Name: <span th:text="${user.name}">name</span></li>
          <li>Email: <span th:text="${user.email}">email</span></li>
        </ul>
        <p>
          New password <span th:text="${newPassword}">new password</span>
        </p>
        
    </div>
    
  </body>
  
</html>