<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head">
        <link rel="stylesheet" type="text/css" href="../../css/ncomplo.css" />
  </head>
  
  <body>

    <header th:substituteby="layout/header :: header"></header>
    
    <div id="content">
  
        <h1 th:text="#{bets.title}">BETS</h1>
        <h2 th:text="#{bets.title.league(${league.getName(#locale)})}">League: a league</h2>
        <h2 th:text="#{bets.title.user(${user.name})}">Bets for user: a user</h2>

        <table id="bets">
          <thead>
            <tr>
              <th th:text="#{bets.header.name}">Name</th>
              <th th:text="#{bets.header.date}">Date</th>
              <th colspan="4" th:text="#{bets.header.game}">Game</th>
              <th colspan="4" th:text="#{bets.header.bet}">Bet</th>
              <th th:text="#{bets.header.points}">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="b : ${allBets}" 
                th:with="g=${b.game},
                         gsA=${b.game.gameSideA},gsB=${b.game.gameSideB},
                         bsA=${b.gameSideA},bsB=${b.gameSideB},
                         gScA=${b.game.scoreA},gScB=${b.game.scoreB},
                         bScA=${b.scoreA},bScB=${b.scoreB}"
                th:class="
                    (${b.pointsComputed} ? 'bet_computed' : 'bet_notcomputed') + ' ' +
                    (${b.gameWinner == b.game.gameSideA} ? 'bet_game_winnerA' : '') + ' ' +
                    (${b.gameWinner == b.game.gameSideB} ? 'bet_game_winnerB' : '') + ' ' +
                    (${b.gameDraw} ? 'bet_game_draw' : '') + ' ' +
                    (${b.betWinner == b.gameSideA} ? 'bet_bet_winnerA' : '') + ' ' +
                    (${b.betWinner == b.gameSideB} ? 'bet_bet_winnerB' : '') + ' ' +
                    (${b.betDraw} ? 'bet_bet_draw' : '') + ' ' +
                    (${b.winLevel != null} ? ('bet_winlevel' + ${b.winLevel}) : '') + ' ' +
                    (${b.sideAWinLevel != null} ? ('bet_sideAwinlevel' + ${b.sideAWinLevel}) : '') + ' ' +
                    (${b.sideBWinLevel != null} ? ('bet_sideBwinlevel' + ${b.sideBWinLevel}) : '')
                    ">
                
              <td class="bet_game_name">
                <span th:text="${g.getName(#locale)}">game name</span>
              </td>
              <td class="bet_game_date">
                <span th:text="${g.date} ? ${#dates.format(g.date,#messages.msg('dates.format'))} : '-'">game date</span>
              </td>
              <td class="bet_game_sideA">
                <span th:text="${gsA} ? ${gsA.getName(#locale)} : '?'">game sideA</span>
              </td>
              <td class="bet_game_scoreA">
                <span th:if="${b.scoreMatter}" th:text="${gScA} ?: '?'">game score sideA</span>
              </td>
              <td class="bet_game_scoreB">
                <span th:if="${b.scoreMatter}" th:text="${gScB} ?: '?'">game score sideB</span>
              </td>
              <td class="bet_game_sideB">
                <span th:text="${gsB} ? ${gsB.getName(#locale)} :  '?'">game sideB</span>
              </td>
              <td class="bet_bet_sideA">
                <span th:text="${bsA} ? ${bsA.getName(#locale)} : '?'">bet sideA</span>
              </td>
              <td class="bet_bet_scoreA">
                <span th:if="${b.scoreMatter}" th:text="${bScA} ?: '?'">bet score sideA</span>
              </td>
              <td class="bet_bet_scoreB">
                <span th:if="${b.scoreMatter}" th:text="${bScB} ?: '?'">bet score sideB</span>
              </td>
              <td class="bet_bet_sideB">
                <span th:text="${bsB} ? ${bsB.getName(#locale)} :  '?'">bet sideB</span>
              </td>
              <td class="bet_points">
                <span th:text="${b.pointsComputed} ? ${b.points} : ''">points</span>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div>
          <a th:href="@{'/scoreboard/' + ${league.id}}" th:text="#{nav.scoreboard}">Go to Scoreboard</a>
        </div>
        
    </div> 

  </body>
  
</html>