<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>

    <header th:substituteby="layout/header :: header"></header>
    
    <div id="content">
  
        <h1>CHANGE PASSWORD</h1>
        <h2>User: <span th:text="${user.name}">name</span></h2>

        <form th:action="@{/changepassword}" method="post">
          <div>
            <label for="oldPasswordInput">Old password:</label>
            <input id="oldPasswordInput" type="password" name="oldPassword" required="required" />
          </div>
          <div>
            <label for="newPassword1Input">New password:</label>
            <input id="newPassword1Input" type="password" name="newPassword1" required="required" />
          </div>
          <div>
            <label for="newPassword2Input">Repeat new password:</label>
            <input id="newPassword2Input" type="password" name="newPassword2" required="required" />
          </div>
          <input type="submit" value="Change Password"/>
        </form>
        
        <a th:href="@{/scoreboard}">Go to Scoreboard</a>
        
    </div> 

  </body>
  
</html>