<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>

    <header th:substituteby="layout/header :: header"></header>
    
    <div id="content">
  
        <h1 th:text="#{changepassword.title}">CHANGE PASSWORD</h1>
        <h2 th:text="#{changepassword.title.user(${user.name})}">User: A User</h2>

        <form th:action="@{/changepassword}" method="post">
          <fieldset>
            <div>
              <label for="oldPasswordInput" th:text="#{changepassword.form.oldpassword}">Old password:</label>
              <input id="oldPasswordInput" type="password" name="oldPassword" required="required" />
            </div>
            <div>
              <label for="newPassword1Input" th:text="#{changepassword.form.newpassword1}">New password:</label>
              <input id="newPassword1Input" type="password" name="newPassword1" required="required" />
            </div>
            <div>
              <label for="newPassword2Input" th:text="#{changepassword.form.newpassword2}">Repeat new password:</label>
              <input id="newPassword2Input" type="password" name="newPassword2" required="required" />
            </div>
            <div>
              <input type="submit" th:value="#{changepassword.form.submit}" />
            </div>
          </fieldset>
        </form>
        
        <div>
          <a th:href="@{/scoreboard}" th:text="#{nav.scoreboard}">Go to Scoreboard</a>
        </div>
        
    </div> 

  </body>
  
</html>