<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="admin/adminheader :: head"></head>
  
  <body>
  
    <header th:substituteby="admin/adminheader :: header"></header>
  
    <div id="content">
    
        <h1>Competitions</h1>
        
        <a th:href="@{manage}">Create new</a>
        <table>
          <tr th:each="c : ${allCompetitions}">
            <td th:text="${c.getName(#locale)}">Liga BBVA</td>
            <td th:text="${c.active}">Active</td>
            <td>
              <span th:text="${c.betTypes.size()}">Bet types</span>
              <a th:href="@{${c.id} + '/bettype/list'}">manage bet types</a>
            </td>
            <td><a th:href="@{manage(id=${c.id})}">manage competition</a></td>
            <td><a th:href="@{delete(id=${c.id})}">delete competition</a></td>
          </tr>
        </table>
        
      </div> 

  </body>
  
</html>