<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="admin/adminheader :: head"></head>
  
  <body>
    
    <header th:substituteby="admin/adminheader :: header"></header>
  
    <div id="content">
  
        <h1>Matches for competition "<span th:text="${competition.getName(#locale)}">competition</span>"</h1>
        
        <a th:href="@{manage}">Create new</a>
        <table>
          <tr th:each="m : ${allMatches}">
            <td th:text="${#dates.format(m.date,#messages.msg('dates.format'))}">date of match</td>
            <td th:text="${m.getName(#locale)}">name of match</td>
            <td th:text="${m.teamA} ? ${m.teamA.getName(#locale)} : '-'">name of team A</td>
            <td th:text="${m.teamB} ? ${m.teamB.getName(#locale)} : '-'">name of team B</td>
            <td><a th:href="@{manage(id=${m.id})}">manage match</a></td>
            <td><a th:href="@{delete(id=${m.id})}">delete match</a></td>
          </tr>
        </table>
        
    </div> 

  </body>
  
</html>