<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
    
    <header th:substituteby="layout/header :: header"></header>
  
    <header th:substituteby="layout/admin/header :: header"></header>
  
    <div id="content">
  
        <h1>Teams/Players for competition "<span th:text="${competition.getName(#locale)}">competition</span>"</h1>
        
        <a th:href="@{manage}">Create new</a>
        <table>
          <tr th:each="gs : ${allGameSides}">
            <td th:text="${gs.getName(#locale)}">name of team/player</td>
            <td><a th:href="@{manage(id=${gs.id})}">manage team/player</a></td>
            <td><a th:href="@{delete(id=${gs.id})}" onclick="return confirm('Sure?');">delete team/player</a></td>
          </tr>
        </table>
        
        <a th:href="@{../../list}">Back to list of Competitions</a>
        
    </div> 

  </body>
  
</html>