#mainHeader {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: #ddd;
}

#mainHeader h1 {
    font-size: 1.6em;
    font-variant: normal;
    font-style: italic;
}

h1 {
    font-variant: small-caps;
    font-size: 1.4em;
}


h2 {
    font-size: 1.2em;
    color: #666;
}

#scoreboard {
    border-collapse: collapse;    
}

#scoreboard td, #scoreboard th {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}


#bets {
    border-collapse: collapse;    
}

#bets td, #bets th {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

#bets td.bet_winLevel2 {
    background-color: #4aea65;
    font-weight: bold;
}

#bets td.bet_winLevel1 {
    background-color: #b8f9c2;
}

#bets td.bet_winLevel0 {
    background-color: #f0f0f0;
}

#bets td.bet_winLevel-1 {
    background-color: #f4b190;
}
