
body {
    font-family: Verdana,Arial,Helvetica;
    font-size: 13px;
}

h1 {
    font-variant: small-caps;
    font-size: 1.4em;
}


h2 {
    font-size: 1.2em;
    color: #666;
}




#mainHeader {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: #ddd;
}

#mainHeader h1 {
    font-size: 1.6em;
    font-variant: normal;
    font-style: italic;
}





/* ======================  */
/* ======================  */
/* SCOREBOARD              */
/* ======================  */
/* ======================  */





#scoreboard {
    border-collapse: collapse;    
}

#scoreboard td, #scoreboard th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
}

#scoreboard th {
    background-color: #303030;
    font-weight: bold;
    text-align: center;
    color: #f0f0f0;
    font-variant: small-caps;
}

#scoreboard tbody tr {
    background-color: #f3fdaf;
}

#scoreboard tbody tr.scoreboard_pos1 {
    background-color: #77d245;
}

#scoreboard tbody tr.scoreboard_pos2 {
    background-color: #a7f37e;
}

#scoreboard tbody tr.scoreboard_pos3 {
    background-color: #c7f39e;
}

#scoreboard tbody td.scoreboard_position {
    text-align: right;
}

#scoreboard tbody td.scoreboard_points {
    text-align: right;
}

#scoreboard tbody td.scoreboard_actions a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    border: 1px solid #000;
    font-weight: bold;
    background-color: #d0d0d0;
    color: #000;
    font-size: 10px;
    vertical-align: 1px;
}




/* ======================  */
/* ======================  */
/* BETS                    */
/* ======================  */
/* ======================  */





#bets {
    border-collapse: collapse;    
}

#bets td, #bets th {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
}

#bets th {
    background-color: #303030;
    font-weight: bold;
    text-align: center;
    color: #f0f0f0;
    font-variant: small-caps;
}




/* -----------------  */
/* BET COMPUTED       */
/* -----------------  */



#bets tr.bet_computed td.bet_game_name,
#bets tr.bet_computed td.bet_game_date,
#bets tr.bet_computed td.bet_game_sideA,
#bets tr.bet_computed td.bet_game_scoreA,
#bets tr.bet_computed td.bet_game_scoreB,
#bets tr.bet_computed td.bet_game_sideB {
    background-color: #e0e0e0;
}

#bets tr.bet_computed.bet_game_winnerA td.bet_game_sideA,
#bets tr.bet_computed.bet_game_winnerB td.bet_game_sideB,
#bets tr.bet_computed.bet_bet_winnerA td.bet_bet_sideA,
#bets tr.bet_computed.bet_bet_winnerB td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_winnerA td.bet_game_scoreA,
#bets tr.bet_computed.bet_game_winnerB td.bet_game_scoreB,
#bets tr.bet_computed.bet_bet_winnerA td.bet_bet_scoreA,
#bets tr.bet_computed.bet_bet_winnerB td.bet_bet_scoreB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_draw td.bet_game_sideA,
#bets tr.bet_computed.bet_game_draw td.bet_game_sideB,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_sideA,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_game_draw td.bet_game_scoreA,
#bets tr.bet_computed.bet_game_draw td.bet_game_scoreB,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_scoreA,
#bets tr.bet_computed.bet_bet_draw td.bet_bet_scoreB {
    font-weight: bold;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel2 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_bet_sideB {
    background-color: #77d245;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel2 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_bet_scoreB {
    background-color: #77d245;
}

#bets tr.bet_computed.bet_winlevel1 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel1 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_bet_sideB {
    background-color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel1 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel1 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_bet_scoreB {
    background-color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel0 td.bet_bet_sideA,
#bets tr.bet_computed.bet_winlevel0 td.bet_bet_sideB,
#bets tr.bet_computed.bet_sideAwinLevel0 td.bet_bet_sideA,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_bet_sideB {
    background-color: #f4b190;
}

#bets tr.bet_computed.bet_winlevel0 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_winlevel0 td.bet_bet_scoreB,
#bets tr.bet_computed.bet_sideAwinlevel0 td.bet_bet_scoreA,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_bet_scoreB {
    background-color: #f4b190;
}

#bets tr.bet_computed td.bet_points {
    background-color: #303030;
    font-weight: bold;
    text-align: right;
}

#bets tr.bet_computed.bet_winlevel2 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel2 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel2 td.bet_points {
    color: #77d245;
}

#bets tr.bet_computed.bet_winlevel1 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel1 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel1 td.bet_points {
    color: #a7f37e;
}

#bets tr.bet_computed.bet_winlevel0 td.bet_points,
#bets tr.bet_computed.bet_sideAwinlevel0 td.bet_points,
#bets tr.bet_computed.bet_sideBwinlevel0 td.bet_points {
    color: #f4b190;
}



/* -----------------  */
/* BET NOT COMPUTED   */
/* -----------------  */



#bets tr.bet_notcomputed td.bet_game_name,
#bets tr.bet_notcomputed td.bet_game_date,
#bets tr.bet_notcomputed td.bet_game_sideA,
#bets tr.bet_notcomputed td.bet_game_scoreA,
#bets tr.bet_notcomputed td.bet_game_scoreB,
#bets tr.bet_notcomputed td.bet_game_sideB,
#bets tr.bet_notcomputed td.bet_bet_sideA,
#bets tr.bet_notcomputed td.bet_bet_scoreA,
#bets tr.bet_notcomputed td.bet_bet_scoreB,
#bets tr.bet_notcomputed td.bet_bet_sideB,
#bets tr.bet_notcomputed td.bet_points {
    background-color: #f3fdaf;
}

#bets tr.bet_notcomputed.bet_bet_winnerA td.bet_bet_sideA,
#bets tr.bet_notcomputed.bet_bet_winnerB td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_winnerA td.bet_bet_scoreA,
#bets tr.bet_notcomputed.bet_bet_winnerB td.bet_bet_scoreB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_sideA,
#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_sideB {
    font-weight: bold;
}

#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_scoreA,
#bets tr.bet_notcomputed.bet_bet_draw td.bet_bet_scoreB {
    font-weight: bold;
}





