<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
  
    <header th:substituteby="layout/header :: header"></header>
  
    <header th:substituteby="layout/admin/header :: header"></header>
    
    <div id="content">

        <h1>Manage Game in competition "<span th:text="${competition.getName(#locale)}">One Competition</span>"</h1>
        
        <form th:action="@{save}" th:object="${game}" method="post">
        
          <fieldset>
          
            <input type="hidden" th:field="*{id}" />
            
            <div>
              <label for="roundSelect">Round</label>
              <select id="roundSelect" th:field="*{roundId}">
                <option th:each="r : ${allRounds}" th:value="${r.id}" th:text="${r.getName(#locale)}">One round</option>
              </select>
            </div>
            
            <div>
              <label for="orderInput">Game order</label>
              <input id="orderInput" type="number" th:field="*{order}" />
            </div>
            
            <div>
              <label for="dateInput">Date</label>
              <input id="dateInput" type="date" th:field="*{date}" />
            </div>
            
            <div id="name">
              <label for="nameInput">Name</label>
              <input id="nameInput" type="text" th:field="*{name}" required="required" />
              <a href="#" onclick="$.org.eleventhlabs.ncomplo.lang.add('name');">add language</a>
            </div>
            
            <div class="name-lang-existing lang-element" th:each="nameLang : *{namesByLang}">
              <input class="langInput" type="text" th:field="*{namesByLang[__${nameLangStat.index}__].lang}" />
              <input class="valueInput" type="text" th:field="*{namesByLang[__${nameLangStat.index}__].value}" />
              <a href="#" onclick="$.org.eleventhlabs.ncomplo.lang.remove(this);">delete</a>
            </div>
            <div id="name-lang-prototype" class="lang-element">
              <input class="langInput" type="text" name="namesByLang[$index$].lang" id="namesByLang$index$.lang" value="" />
              <input class="valueInput" type="text" name="namesByLang[$index$].value" id="namesByLang$index$.value" value="" />
              <a href="#" onclick="$.org.eleventhlabs.ncomplo.lang.remove(this);">delete</a>
            </div>
            
            <div>
              <label for="defaultBetTypeSelect">Round</label>
              <select id="defaultBetTypeSelect" th:field="*{defaultBetTypeId}">
                <option th:each="b : ${allBetTypes}" th:value="${b.id}" th:text="${b.getName(#locale)}">One bet type</option>
              </select>
            </div>
            
            <div>
              <label for="gameSideASelect">Team/Player A</label>
              <select id="gameSideASelect" th:field="*{gameSideAId}">
                <option value="">Undefined</option>
                <option th:each="gs : ${allGameSides}" th:value="${gs.id}" th:text="${gs.getName(#locale)}">One team/player</option>
              </select>
            </div>
            
            <div>
              <label for="gameSideBSelect">Team/Player B</label>
              <select id="gameSideBSelect" th:field="*{gameSideBId}">
                <option value="">Undefined</option>
                <option th:each="gs : ${allGameSides}" th:value="${gs.id}" th:text="${gs.getName(#locale)}">One team/player</option>
              </select>
            </div>
            
            <div>
              <label for="scoreAInput">Score A</label>
              <input id="scoreAInput" type="number" th:field="*{scoreA}" />
            </div>
            
            <div>
              <label for="scoreBInput">Score B</label>
              <input id="scoreBInput" type="number" th:field="*{scoreB}" />
            </div>
            
          </fieldset>
          
          <input type="submit" />
          
        </form>
        
        <a th:href="@{list}">Back to list of Games</a>
        
    </div>
    
  </body>
  
</html>