<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>ncompl&oacute;</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ncomplo.css}" />
    <script th:src="@{/js/ncomplo.js}" type="text/javascript"></script>
</head>
<body>

  <header id="mainHeader" th:fragment="header">
    <h1>ncompl&oacute;</h1>
  </header>
  
</body>
</html>