<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:substituteby="layout/header :: head"></head>
  
  <body>
  
    <header th:substituteby="layout/header :: header"></header>
  
    <header th:substituteby="layout/admin/header :: header"></header>
    
    <div id="content">

        <h1>Manage Bet Type in competition "<span th:text="${competition.getName(#locale)}">One Competition</span>"</h1>
        
        <form th:action="@{save}" th:object="${betType}" method="post">
        
          <fieldset>
          
            <input type="hidden" th:field="*{id}" />
            
            <div id="name">
              <label for="nameInput">Name</label>
              <input id="nameInput" type="text" th:field="*{name}" required="required" />
              <a href="#" onclick="$.org.eleventhlabs.ncomplo.lang.add('name');">add language</a>
            </div>
            
            <div class="name-lang-existing lang-element" th:each="nameLang : *{namesByLang}">
              <input class="langInput" type="text" th:field="*{namesByLang[__${nameLangStat.index}__].lang}" />
              <input class="valueInput" type="text" th:field="*{namesByLang[__${nameLangStat.index}__].value}" />
              <a href="#" onclick="$.org.eleventhlabs.ncomplo.lang.remove(this);">delete</a>
            </div>
            <div id="name-lang-prototype" class="lang-element">
              <input class="langInput" type="text" name="namesByLang[$index$].lang" id="namesByLang$index$.lang" value="" />
              <input class="valueInput" type="text" name="namesByLang[$index$].value" id="namesByLang$index$.value" value="" />
              <a href="#" onclick="$.org.eleventhlabs.ncomplo.lang.remove(this);">delete</a>
            </div>
            
            <div>
              <label for="sidesMatterCheck">Sides matter</label>
              <input id="sidesMatterCheck" type="checkbox" th:field="*{sidesMatter}" />
            </div>
            
            <div>
              <label for="scoreMatterCheck">Score matters</label>
              <input id="scoreMatterCheck" type="checkbox" th:field="*{scoreMatter}" />
            </div>
            
            <div>
              <label for="resultMatterCheck">Result matters</label>
              <input id="resultMatterCheck" type="checkbox" th:field="*{resultMatter}" />
            </div>
            
            <div>
              <label for="specInput">Specification</label>
              <textarea id="specInput" th:field="*{spec}" required="required"></textarea>
            </div>
            
          </fieldset>
          
          <input type="submit" />
          
        </form>
        
        <a th:href="@{list}">Back to list of Bet Types</a>
        
    </div>
    
  </body>
  
</html>